<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Bms.UserSignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignin</servlet-name>
        <servlet-class>Bms.AdminSignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBusDetailsApp</servlet-name>
        <servlet-class>Bms.CheckBusDetailsApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBusDetails</servlet-name>
        <servlet-class>Admin.AddBusDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBusDetails</servlet-name>
        <servlet-class>Admin.DeleteBusDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>Admin.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignin</servlet-name>
        <servlet-class>Bms.UserSignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>Admin.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchbyRouteNo</servlet-name>
        <servlet-class>Bms.SearchbyRouteNo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchbyRoute</servlet-name>
        <servlet-class>Bms.SearchbyRoute</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignin</servlet-name>
        <url-pattern>/AdminSignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBusDetailsApp</servlet-name>
        <url-pattern>/CheckBusDetailsApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBusDetails</servlet-name>
        <url-pattern>/AddBusDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBusDetails</servlet-name>
        <url-pattern>/DeleteBusDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignin</servlet-name>
        <url-pattern>/UserSignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchbyRouteNo</servlet-name>
        <url-pattern>/SearchbyRouteNo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchbyRoute</servlet-name>
        <url-pattern>/SearchbyRoute</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
